{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions"
          ],
          "node": 6.9
        }
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        [
          "istanbul",
          {
            "useInlineSourceMaps": false,
            "exclude": [
              "test.js"
            ]
          }
        ]
      ]
    }
  }
}
